/data
*.ncb
*.opt
*.plg
*.suo
*.vcproj.*.*.user
Win32_LIB_ASM_Debug
Win32_LIB_ASM_Release
*.bsc
/SRB2.layout
/SRB2.depend
/src/comptime.h
*.dgb
*.debug
*.debug.txt
*.user
*.db
*.opendb
/.vs
/debian
/assets/debian
/make
/bin
dep/Mingw/SDL/Release/am_map.d
dep/Mingw/SDL/Release/apng.d
dep/Mingw/SDL/Release/b_bot.d
dep/Mingw/SDL/Release/command.d
dep/Mingw/SDL/Release/console.d
dep/Mingw/SDL/Release/d_clisrv.d
dep/Mingw/SDL/Release/d_main.d
dep/Mingw/SDL/Release/d_net.d
dep/Mingw/SDL/Release/d_netcmd.d
dep/Mingw/SDL/Release/d_netfil.d
dep/Mingw/SDL/Release/deh_lua.d
dep/Mingw/SDL/Release/deh_soc.d
dep/Mingw/SDL/Release/deh_tables.d
dep/Mingw/SDL/Release/dehacked.d
dep/Mingw/SDL/Release/dosstr.d
dep/Mingw/SDL/Release/endtxt.d
dep/Mingw/SDL/Release/f_finale.d
dep/Mingw/SDL/Release/f_wipe.d
dep/Mingw/SDL/Release/filesrch.d
dep/Mingw/SDL/Release/g_demo.d
dep/Mingw/SDL/Release/g_game.d
dep/Mingw/SDL/Release/g_input.d
dep/Mingw/SDL/Release/http-mserv.d
dep/Mingw/SDL/Release/hu_stuff.d
dep/Mingw/SDL/Release/hw_batching.d
dep/Mingw/SDL/Release/hw_bsp.d
dep/Mingw/SDL/Release/hw_cache.d
dep/Mingw/SDL/Release/hw_clip.d
dep/Mingw/SDL/Release/hw_draw.d
dep/Mingw/SDL/Release/hw_light.d
dep/Mingw/SDL/Release/hw_main.d
dep/Mingw/SDL/Release/hw_md2.d
dep/Mingw/SDL/Release/hw_md2load.d
dep/Mingw/SDL/Release/hw_md3load.d
dep/Mingw/SDL/Release/hw_model.d
dep/Mingw/SDL/Release/hwsym_sdl.d
dep/Mingw/SDL/Release/i_main.d
dep/Mingw/SDL/Release/i_net.d
dep/Mingw/SDL/Release/i_system.d
dep/Mingw/SDL/Release/i_tcp.d
dep/Mingw/SDL/Release/i_threads.d
dep/Mingw/SDL/Release/i_video.d
dep/Mingw/SDL/Release/info.d
dep/Mingw/SDL/Release/lapi.d
dep/Mingw/SDL/Release/lauxlib.d
dep/Mingw/SDL/Release/lbaselib.d
dep/Mingw/SDL/Release/lcode.d
dep/Mingw/SDL/Release/ldebug.d
dep/Mingw/SDL/Release/ldo.d
dep/Mingw/SDL/Release/ldump.d
dep/Mingw/SDL/Release/lfunc.d
dep/Mingw/SDL/Release/lgc.d
dep/Mingw/SDL/Release/linit.d
dep/Mingw/SDL/Release/liolib.d
dep/Mingw/SDL/Release/llex.d
dep/Mingw/SDL/Release/lmem.d
dep/Mingw/SDL/Release/lobject.d
dep/Mingw/SDL/Release/lopcodes.d
dep/Mingw/SDL/Release/lparser.d
dep/Mingw/SDL/Release/lstate.d
dep/Mingw/SDL/Release/lstring.d
dep/Mingw/SDL/Release/lstrlib.d
dep/Mingw/SDL/Release/ltable.d
dep/Mingw/SDL/Release/ltablib.d
dep/Mingw/SDL/Release/ltm.d
dep/Mingw/SDL/Release/lua_baselib.d
dep/Mingw/SDL/Release/lua_blockmaplib.d
dep/Mingw/SDL/Release/lua_consolelib.d
dep/Mingw/SDL/Release/lua_hooklib.d
dep/Mingw/SDL/Release/lua_hudlib.d
dep/Mingw/SDL/Release/lua_infolib.d
dep/Mingw/SDL/Release/lua_maplib.d
dep/Mingw/SDL/Release/lua_mathlib.d
dep/Mingw/SDL/Release/lua_mobjlib.d
dep/Mingw/SDL/Release/lua_playerlib.d
dep/Mingw/SDL/Release/lua_polyobjlib.d
dep/Mingw/SDL/Release/lua_script.d
dep/Mingw/SDL/Release/lua_skinlib.d
dep/Mingw/SDL/Release/lua_taglib.d
dep/Mingw/SDL/Release/lua_thinkerlib.d
dep/Mingw/SDL/Release/lundump.d
dep/Mingw/SDL/Release/lvm.d
dep/Mingw/SDL/Release/lzf.d
dep/Mingw/SDL/Release/lzio.d
dep/Mingw/SDL/Release/m_aatree.d
dep/Mingw/SDL/Release/m_anigif.d
dep/Mingw/SDL/Release/m_argv.d
dep/Mingw/SDL/Release/m_bbox.d
dep/Mingw/SDL/Release/m_cheat.d
dep/Mingw/SDL/Release/m_cond.d
dep/Mingw/SDL/Release/m_fixed.d
dep/Mingw/SDL/Release/m_menu.d
dep/Mingw/SDL/Release/m_misc.d
dep/Mingw/SDL/Release/m_perfstats.d
dep/Mingw/SDL/Release/m_queue.d
dep/Mingw/SDL/Release/m_random.d
dep/Mingw/SDL/Release/md5.d
dep/Mingw/SDL/Release/mixer_sound.d
dep/Mingw/SDL/Release/mserv.d
dep/Mingw/SDL/Release/ogl_sdl.d
dep/Mingw/SDL/Release/p_ceilng.d
dep/Mingw/SDL/Release/p_enemy.d
dep/Mingw/SDL/Release/p_floor.d
dep/Mingw/SDL/Release/p_inter.d
dep/Mingw/SDL/Release/p_lights.d
dep/Mingw/SDL/Release/p_map.d
dep/Mingw/SDL/Release/p_maputl.d
dep/Mingw/SDL/Release/p_mobj.d
dep/Mingw/SDL/Release/p_polyobj.d
dep/Mingw/SDL/Release/p_saveg.d
dep/Mingw/SDL/Release/p_setup.d
dep/Mingw/SDL/Release/p_sight.d
dep/Mingw/SDL/Release/p_slopes.d
dep/Mingw/SDL/Release/p_spec.d
dep/Mingw/SDL/Release/p_telept.d
dep/Mingw/SDL/Release/p_tick.d
dep/Mingw/SDL/Release/p_user.d
dep/Mingw/SDL/Release/r_bsp.d
dep/Mingw/SDL/Release/r_data.d
dep/Mingw/SDL/Release/r_draw.d
dep/Mingw/SDL/Release/r_main.d
dep/Mingw/SDL/Release/r_patch.d
dep/Mingw/SDL/Release/r_patchrotation.d
dep/Mingw/SDL/Release/r_picformats.d
dep/Mingw/SDL/Release/r_plane.d
dep/Mingw/SDL/Release/r_portal.d
dep/Mingw/SDL/Release/r_segs.d
dep/Mingw/SDL/Release/r_skins.d
dep/Mingw/SDL/Release/r_sky.d
dep/Mingw/SDL/Release/r_splats.d
dep/Mingw/SDL/Release/r_textures.d
dep/Mingw/SDL/Release/r_things.d
dep/Mingw/SDL/Release/s_sound.d
dep/Mingw/SDL/Release/screen.d
dep/Mingw/SDL/Release/sounds.d
dep/Mingw/SDL/Release/st_stuff.d
dep/Mingw/SDL/Release/string.d
dep/Mingw/SDL/Release/tables.d
dep/Mingw/SDL/Release/taglist.d
dep/Mingw/SDL/Release/u_list.d
dep/Mingw/SDL/Release/v_video.d
dep/Mingw/SDL/Release/w_wad.d
dep/Mingw/SDL/Release/y_inter.d
dep/Mingw/SDL/Release/z_zone.d
objs/Mingw/SDL/Release/am_map.o
objs/Mingw/SDL/Release/apng.o
objs/Mingw/SDL/Release/b_bot.o
objs/Mingw/SDL/Release/command.o
objs/Mingw/SDL/Release/comptime.o
objs/Mingw/SDL/Release/console.o
objs/Mingw/SDL/Release/d_clisrv.o
objs/Mingw/SDL/Release/d_main.o
objs/Mingw/SDL/Release/d_net.o
objs/Mingw/SDL/Release/d_netcmd.o
objs/Mingw/SDL/Release/d_netfil.o
objs/Mingw/SDL/Release/deh_lua.o
objs/Mingw/SDL/Release/deh_soc.o
objs/Mingw/SDL/Release/deh_tables.o
objs/Mingw/SDL/Release/dehacked.o
objs/Mingw/SDL/Release/dosstr.o
objs/Mingw/SDL/Release/endtxt.o
objs/Mingw/SDL/Release/f_finale.o
objs/Mingw/SDL/Release/f_wipe.o
objs/Mingw/SDL/Release/filesrch.o
objs/Mingw/SDL/Release/g_demo.o
objs/Mingw/SDL/Release/g_game.o
objs/Mingw/SDL/Release/g_input.o
objs/Mingw/SDL/Release/http-mserv.o
objs/Mingw/SDL/Release/hu_stuff.o
objs/Mingw/SDL/Release/hw_batching.o
objs/Mingw/SDL/Release/hw_bsp.o
objs/Mingw/SDL/Release/hw_cache.o
objs/Mingw/SDL/Release/hw_clip.o
objs/Mingw/SDL/Release/hw_draw.o
objs/Mingw/SDL/Release/hw_light.o
objs/Mingw/SDL/Release/hw_main.o
objs/Mingw/SDL/Release/hw_md2.o
objs/Mingw/SDL/Release/hw_md2load.o
objs/Mingw/SDL/Release/hw_md3load.o
objs/Mingw/SDL/Release/hw_model.o
objs/Mingw/SDL/Release/hwsym_sdl.o
objs/Mingw/SDL/Release/i_main.o
objs/Mingw/SDL/Release/i_net.o
objs/Mingw/SDL/Release/i_system.o
objs/Mingw/SDL/Release/i_tcp.o
objs/Mingw/SDL/Release/i_threads.o
objs/Mingw/SDL/Release/i_video.o
objs/Mingw/SDL/Release/info.o
objs/Mingw/SDL/Release/lapi.o
objs/Mingw/SDL/Release/lauxlib.o
objs/Mingw/SDL/Release/lbaselib.o
objs/Mingw/SDL/Release/lcode.o
objs/Mingw/SDL/Release/ldebug.o
objs/Mingw/SDL/Release/ldo.o
objs/Mingw/SDL/Release/ldump.o
objs/Mingw/SDL/Release/lfunc.o
objs/Mingw/SDL/Release/lgc.o
objs/Mingw/SDL/Release/linit.o
objs/Mingw/SDL/Release/liolib.o
objs/Mingw/SDL/Release/llex.o
objs/Mingw/SDL/Release/lmem.o
objs/Mingw/SDL/Release/lobject.o
objs/Mingw/SDL/Release/lopcodes.o
objs/Mingw/SDL/Release/lparser.o
objs/Mingw/SDL/Release/lstate.o
objs/Mingw/SDL/Release/lstring.o
objs/Mingw/SDL/Release/lstrlib.o
objs/Mingw/SDL/Release/ltable.o
objs/Mingw/SDL/Release/ltablib.o
objs/Mingw/SDL/Release/ltm.o
objs/Mingw/SDL/Release/lua_baselib.o
objs/Mingw/SDL/Release/lua_blockmaplib.o
objs/Mingw/SDL/Release/lua_consolelib.o
objs/Mingw/SDL/Release/lua_hooklib.o
objs/Mingw/SDL/Release/lua_hudlib.o
objs/Mingw/SDL/Release/lua_infolib.o
objs/Mingw/SDL/Release/lua_maplib.o
objs/Mingw/SDL/Release/lua_mathlib.o
objs/Mingw/SDL/Release/lua_mobjlib.o
objs/Mingw/SDL/Release/lua_playerlib.o
objs/Mingw/SDL/Release/lua_polyobjlib.o
objs/Mingw/SDL/Release/lua_script.o
objs/Mingw/SDL/Release/lua_skinlib.o
objs/Mingw/SDL/Release/lua_taglib.o
objs/Mingw/SDL/Release/lua_thinkerlib.o
objs/Mingw/SDL/Release/lundump.o
objs/Mingw/SDL/Release/lvm.o
objs/Mingw/SDL/Release/lzf.o
objs/Mingw/SDL/Release/lzio.o
objs/Mingw/SDL/Release/m_aatree.o
objs/Mingw/SDL/Release/m_anigif.o
objs/Mingw/SDL/Release/m_argv.o
objs/Mingw/SDL/Release/m_bbox.o
objs/Mingw/SDL/Release/m_cheat.o
objs/Mingw/SDL/Release/m_cond.o
objs/Mingw/SDL/Release/m_fixed.o
objs/Mingw/SDL/Release/m_menu.o
objs/Mingw/SDL/Release/m_misc.o
objs/Mingw/SDL/Release/m_perfstats.o
objs/Mingw/SDL/Release/m_queue.o
objs/Mingw/SDL/Release/m_random.o
objs/Mingw/SDL/Release/md5.o
objs/Mingw/SDL/Release/mixer_sound.o
objs/Mingw/SDL/Release/mserv.o
objs/Mingw/SDL/Release/ogl_sdl.o
objs/Mingw/SDL/Release/p_ceilng.o
objs/Mingw/SDL/Release/p_enemy.o
objs/Mingw/SDL/Release/p_floor.o
objs/Mingw/SDL/Release/p_inter.o
objs/Mingw/SDL/Release/p_lights.o
objs/Mingw/SDL/Release/p_map.o
objs/Mingw/SDL/Release/p_maputl.o
objs/Mingw/SDL/Release/p_mobj.o
objs/Mingw/SDL/Release/p_polyobj.o
objs/Mingw/SDL/Release/p_saveg.o
objs/Mingw/SDL/Release/p_setup.o
objs/Mingw/SDL/Release/p_sight.o
objs/Mingw/SDL/Release/p_slopes.o
objs/Mingw/SDL/Release/p_spec.o
objs/Mingw/SDL/Release/p_telept.o
objs/Mingw/SDL/Release/p_tick.o
objs/Mingw/SDL/Release/p_user.o
objs/Mingw/SDL/Release/r_bsp.o
objs/Mingw/SDL/Release/r_data.o
objs/Mingw/SDL/Release/r_draw.o
objs/Mingw/SDL/Release/r_main.o
objs/Mingw/SDL/Release/r_opengl.o
objs/Mingw/SDL/Release/r_patch.o
objs/Mingw/SDL/Release/r_patchrotation.o
objs/Mingw/SDL/Release/r_picformats.o
objs/Mingw/SDL/Release/r_plane.o
objs/Mingw/SDL/Release/r_portal.o
objs/Mingw/SDL/Release/r_segs.o
objs/Mingw/SDL/Release/r_skins.o
objs/Mingw/SDL/Release/r_sky.o
objs/Mingw/SDL/Release/r_splats.o
objs/Mingw/SDL/Release/r_textures.o
objs/Mingw/SDL/Release/r_things.o
objs/Mingw/SDL/Release/s_sound.o
objs/Mingw/SDL/Release/screen.o
objs/Mingw/SDL/Release/sounds.o
objs/Mingw/SDL/Release/SRB2.res
objs/Mingw/SDL/Release/st_stuff.o
objs/Mingw/SDL/Release/string.o
objs/Mingw/SDL/Release/tables.o
objs/Mingw/SDL/Release/taglist.o
objs/Mingw/SDL/Release/tmap.o
objs/Mingw/SDL/Release/tmap_mmx.o
objs/Mingw/SDL/Release/u_list.o
objs/Mingw/SDL/Release/v_video.o
objs/Mingw/SDL/Release/vid_copy.o
objs/Mingw/SDL/Release/w_wad.o
objs/Mingw/SDL/Release/y_inter.o
objs/Mingw/SDL/Release/z_zone.o
