/data
*.ncb
*.opt
*.plg
*.suo
*.vcproj.*.*.user
Win32_LIB_ASM_Debug
Win32_LIB_ASM_Release
*.bsc
/SRB2.layout
/SRB2.depend
/src/comptime.h
*.dgb
*.debug
*.debug.txt
/bin/VC10/
/objs/VC10/
*.user
*.db
*.opendb
/.vs
/debian
/assets/debian
bin/Mingw/Release/addons/test.wad
bin/Mingw/Release/addons/test.wad.bak
bin/Mingw/Release/config.cfg
bin/Mingw/Release/exchndl.dll
bin/Mingw/Release/gamedata.dat
bin/Mingw/Release/latest-log.txt
bin/Mingw/Release/libfluidsynth-2.dll
bin/Mingw/Release/libgcc_s_sjlj-1.dll
bin/Mingw/Release/libgme.dll
bin/Mingw/Release/libmodplug-1.dll
bin/Mingw/Release/libmpg123-0.dll
bin/Mingw/Release/libogg-0.dll
bin/Mingw/Release/libopenmpt.dll
bin/Mingw/Release/libopus-0.dll
bin/Mingw/Release/libopusfile-0.dll
bin/Mingw/Release/libstdc++-6.dll
bin/Mingw/Release/libvorbis-0.dll
bin/Mingw/Release/libvorbisfile-3.dll
bin/Mingw/Release/logs/log-2020-05-15_22-06-50.txt
bin/Mingw/Release/logs/log-2020-05-15_22-07-25.txt
bin/Mingw/Release/logs/log-2020-05-15_22-08-28.txt
bin/Mingw/Release/logs/log-2020-05-15_23-11-53.txt
bin/Mingw/Release/logs/log-2020-05-15_23-15-46.txt
bin/Mingw/Release/logs/log-2020-05-15_23-21-35.txt
bin/Mingw/Release/logs/log-2020-05-15_23-21-55.txt
bin/Mingw/Release/logs/log-2020-05-15_23-25-46.txt
bin/Mingw/Release/logs/log-2020-05-15_23-28-06.txt
bin/Mingw/Release/logs/log-2020-05-15_23-28-34.txt
bin/Mingw/Release/logs/log-2020-05-15_23-35-40.txt
bin/Mingw/Release/logs/log-2020-05-15_23-35-54.txt
bin/Mingw/Release/logs/log-2020-05-15_23-37-25.txt
bin/Mingw/Release/logs/log-2020-05-15_23-37-36.txt
bin/Mingw/Release/logs/log-2020-05-15_23-38-10.txt
bin/Mingw/Release/logs/log-2020-05-15_23-38-20.txt
bin/Mingw/Release/logs/log-2020-05-15_23-38-30.txt
bin/Mingw/Release/logs/log-2020-05-15_23-38-42.txt
bin/Mingw/Release/logs/log-2020-05-15_23-40-39.txt
bin/Mingw/Release/logs/log-2020-05-15_23-41-56.txt
bin/Mingw/Release/logs/log-2020-05-15_23-46-19.txt
bin/Mingw/Release/logs/log-2020-05-15_23-57-19.txt
bin/Mingw/Release/logs/log-2020-05-16_00-01-52.txt
bin/Mingw/Release/logs/log-2020-05-16_12-07-39.txt
bin/Mingw/Release/logs/log-2020-05-16_12-07-40.txt
bin/Mingw/Release/logs/log-2020-05-16_12-07-41.txt
bin/Mingw/Release/logs/log-2020-05-16_12-11-15.txt
bin/Mingw/Release/logs/log-2020-05-16_12-12-45.txt
bin/Mingw/Release/logs/log-2020-05-16_12-23-55.txt
bin/Mingw/Release/logs/log-2020-05-16_12-32-57.txt
bin/Mingw/Release/logs/log-2020-05-16_12-33-19.txt
bin/Mingw/Release/logs/log-2020-05-16_12-33-41.txt
bin/Mingw/Release/music.dta
bin/Mingw/Release/patch.pk3
bin/Mingw/Release/patch_music.pk3
bin/Mingw/Release/player.dta
bin/Mingw/Release/SDL2.dll
bin/Mingw/Release/SDL2_mixer.dll
bin/Mingw/Release/SDL2_mixer_ext.dll
bin/Mingw/Release/srb2.pk3
bin/Mingw/Release/srb2sav1.ssg
bin/Mingw/Release/zones.pk3
