/data
*.ncb
*.opt
*.plg
*.suo
*.vcproj.*.*.user
Win32_LIB_ASM_Debug
Win32_LIB_ASM_Release
*.bsc
/SRB2.layout
/SRB2.depend
/src/comptime.h
*.dgb
*.debug
*.debug.txt
/bin/VC10/
/objs/VC10/
*.user
*.db
*.opendb
/.vs
