[Desktop Entry]
Type=Application
Name=SDL Mixer X Music Player
GenericName=A simple music player for game music testing
Comment=Music player based on SDL Mixer X audio library
Icon=PgeMusplay
Exec=%1 %f
Path=%2
Terminal=false
StartupNotify=false
NoDisplay=true
Categories=AudioVideo;Audio
MimeType=%3
Name[ru_RU]=Проигрыватель SDL Mixer X
