[Desktop Entry]
Version=1.0
Name=SDL Mixer X Music Player
Comment=Music player based on SDL Mixer X audio library
Icon=pge_musplay
Exec=pge_musplay
Categories=AudioVideo;Audio
Type=Application
MimeType=audio/x-gme-vgm;audio/x-gme-vgz;audio/x-gme-spc700
Name[ru_RU]=Проигрыватель SDL Mixer X
