#!/usr/bin/make -f
# -*- makefile -*-

#############################################################################
#
#     GNU Make Debian package makefile for SRB2-data
#
# Copyright (C) 1998-2011 by Callum Dickinson
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.	See the
# GNU General Public License for more details.
#
# This file most likely will not need to be modified to make
# branches of SRB2 capable of making their own Debian packages,
# instead look at the /debian/control file for configuration.
#
#############################################################################

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# user/group of to-be-installed files
ROOT_USER  := 0
ROOT_GROUP := 0

MKDIR	:= mkdir -p
INSTALL := install -o $(ROOT_USER) -g $(ROOT_GROUP) -m 644
MV	:= mv
RM	:= rm -rf
DIR	:= $(shell pwd)

PACKAGE := $(shell cat $(DIR)/debian/control | grep 'Package:' | sed -e 's/Package: //g')
DATAFILES := srb2.srb zones.dta player.dta rings.dta music.dta patch.dta README.txt LICENSE.txt LICENSE-3RD-PARTY.txt

DATADIR	:= usr/games/SRB2
RESOURCEDIR := .
WGET	:= wget -P $(RESOURCEDIR) -c -nc

build:
	$(MKDIR) $(DIR)/debian/tmp/$(DATADIR)
	> $(DIR)/debian/source/include-binaries
	# This will need to be updated every time SRB2 official version is
	# Copy data files to their install locations, and add data files to include-binaries
	for file in $(DATAFILES); do \
		if [ ! -f $(RESOURCEDIR)/$$file ]; then \
			$(WGET) http://alam.srb2.org/SRB2/2.1.21-Final/Resources/$$file; \
		fi; \
		if [ -f $(RESOURCEDIR)/$$file ]; then \
			$(INSTALL) $(RESOURCEDIR)/$$file $(DIR)/debian/tmp/$(DATADIR)/$$file; \
			echo $(RESOURCEDIR)/$$file >> $(DIR)/debian/source/include-binaries; \
		fi; \
		if [ ! -f $(DIR)/debian/tmp/$(DATADIR)/$$file ]; then \
			echo $(DIR)/debian/tmp/$(DATADIR)/$$file not found and could not be downloaded!; \
			return 1; \
		fi; \
	done

pre-source: build
	# HACK HACK HACK: Force Launchpad to not clean by creating this
	# file and storing it in the source package.
	# We do this so the asset files are not deleted before build
	# In Launchpad, we can't download the assets from srb2.org because DNS does not work
	> $(RESOURCEDIR)/NOCLEAN

binary-indep:
	# Generate install folder file
	echo $(DATADIR) > $(DIR)/debian/$(PACKAGE).install

binary-arch:
	# only here to kill Lintian warning
	echo "no need to do any arch-specific stuff"

binary: binary-indep
	dh_testdir
	dh_testroot
	dh_installchangelogs
	# dh_installdocs
	# dh_installexamples
	dh_install --sourcedir=$(DIR)/debian/tmp
	# dh_installmenu
	# dh_installdebconf
	# dh_installlogrotate
	# dh_installemacsen
	# dh_installpam
	# dh_installmime
	# dh_python
	# dh_installinit
	# dh_installcron
	# dh_installinfo
	# dh_installman
	# dh_link
	dh_compress
	dh_fixperms
	# dh_perl
	# dh_makeshlibs
	dh_installdeb
	# -dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	if [ ! -f $(RESOURCEDIR)/NOCLEAN ]; then \
		$(RM) $(RESOURCEDIR)/*.wad; \
		$(RM) $(RESOURCEDIR)/*.dta; \
		$(RM) $(RESOURCEDIR)/*.plr; \
		$(RM) $(RESOURCEDIR)/*.wpn; \
		$(RM) $(RESOURCEDIR)/*.srb; \
		$(RM) $(RESOURCEDIR)/*.dll; \
		$(RM) $(RESOURCEDIR)/*.txt; \
		$(RM) $(DIR)/debian/tmp/*; \
		$(RM) $(DIR)/debian/$(PACKAGE).install; \
		$(RM) $(DIR)/debian/files; \
		$(RM) $(DIR)/debian/source/include-binaries; \
	else
		echo Clean was ignored because of $(RESOURCEDIR)/NOCLEAN file. Run clean again if you need to!; \
		echo Deleting $(RESOURCEDIR)/NOCLEAN...; \
		$(RM) $(RESOURCEDIR)/NOCLEAN; \
	fi

.PHONY: all clean binary binary-arch binary-indep build
