# Qt-es

*.o
*.obj

*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.txt.user
*.txt.user.*
*.error
moc_*.cpp
ui_*.h
qrc_*.cpp
Makefile
Makefile.*
*-build-*
*build-*
.qmake.stash

# ignore Qt-Makefile
*.Debug
*.Release

#Temp files of LibreOffice
.~lock.*

#Notepad++ Backup files
*.bak

*.directory

/build/*
/build17/*
/OBJ/*

# System junk
.DS_Store

# Built examples
examples/*SDL_mixer_ext*
examples/playmus*
examples/playwave*

.idea/
