# SRB2 Debian package control file.

Source: srb2
Section: games
Priority: extra
Maintainer: Callum Dickinson <gcfreak_ag20@hotmail.com>
Build-Depends: debhelper (>= 7.0.50~), 
 libsdl1.2-dev (>= 1.2.7), 
 libsdl-mixer1.2-dev (>= 1.2.7), 
 libpng12-dev (>= 1.2.7), 
 libglu-mesa-dev | libglu-mesa-dev, 
 libosmesa6-dev | libgl-mesa-dev, 
 nasm [i386]
Standards-Version: 3.8.4
Homepage: http://www.srb2.org

Package: srb2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, srb2-data (= 2.0.6)
Description: A cross-platform 3D Sonic fangame
 Sonic Robo Blast 2 is a 3D open-source Sonic the Hedgehog
 fangame built using a modified version of the Doom Legacy
 port of Doom. SRB2 is closely inspired by the original
 Sonic games from the Sega Genesis, and attempts to recreate
 the design in 3D. While SRB2 isn't fully completed, it already
 features tons of levels, enemies, speed, and quite a lot
 of the fun that the original Sonic games provided.

Package: srb2-dbg
Architecture: any
# FIXME: should be Depends: ${shlibs:Depends}, ${misc:Depends}, srb2-data (= 2.0.6), srb2 but dh_shlibdeps is being an asshat
Depends: libc6, ${misc:Depends}, srb2-data (= 2.0.6), srb2
Description: A cross-platform 3D Sonic fangame
 Sonic Robo Blast 2 is a 3D open-source Sonic the Hedgehog
 fangame built using a modified version of the Doom Legacy
 port of Doom. SRB2 is closely inspired by the original
 Sonic games from the Sega Genesis, and attempts to recreate
 the design in 3D. While SRB2 isn't fully completed, it already
 features tons of levels, enemies, speed, and quite a lot
 of the fun that the original Sonic games provided.
 This is a debug binary, its symbols will be loaded by gdb
 when the user starts the game with gdb for debugging.
